.WIP {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/выбор23.str.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}